@{
  Layout = "_Layout";
}

@using SweetSavory.Models;
@using System.Security.Claims
@model IEnumerable<SweetSavory.Models.Treat>

<br>
<h1>Treats</h1>
<hr>
<br>
@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId})</li>
    }
  </ul>
} 
else
{
  <h4>No treats have been added yet!</h4>
}

<br>
@*Wrapped the 'Add New Item' ActionLink in an if statement to only show the link if the user is authenticated*@
@if (User.Identity.IsAuthenticated)
{
  <hr>
  @Html.ActionLink("Add New Treat", "Create", "Treats", null, new { @class = "btn btn-outline-info"})
}  