@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<br>
<br>
@if(User.Identity.IsAuthenticated)
{
  <div class="card">
    <h3>Add a treat to this flavor: @Html.DisplayFor(model => model.FlavorName)</h3>
    <hr>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.FlavorId)

      <h5>@Html.Label("Select Treat:")  @Html.DropDownList("TreatId")</h5>
      <br>
      <input type="submit" value="Save" class="btn btn-outline-info" />
    }
  </div>  
}
else 
{
  <h4>You are not authorized to Add Treat.</h4>
}  