@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@using System.Security.Claims
@model SweetSavory.Models.Flavor

<br>
<br>
<div class="card">
  <h3 class="text-center">Add a New Flavor</h3>
  <hr>
  @using (Html.BeginForm())
  {
    @Html.Label("Flavor Name:")
    @Html.TextBoxFor(Model => Model.FlavorName, new {@class = "form-control"})
    <br>
    <br>
    <input type="submit" value="Add Flavor" class="btn btn-outline-info" />
  }
</div>